{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Python Home Page</strong></h1>
        <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="text-white">Welcome to Your Game Universe Backend</title>
</head>
<body>
    <h1 class="text-white">Welcome to Your Game Universe Backend</h1>
</body>
</html>

    </div>
{% endblock %}